{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('whatHappenedPage.title') }}</h1>

    <div>
        <p>
            {{ __('whatHappenedPage.intro') }}
        </p>
        <p>
            {{ __('whatHappenedPage.details1') }}
        </p>
        <ul>
            <li>
                {{ __('whatHappenedPage.details2') }}
            </li>
            <li>
                {{ __('whatHappenedPage.details3') }}
            </li>
            <li>
                {{ __('whatHappenedPage.details4') }}
            </li>
        </ul>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ textArea('whatHappenedPage_whatHappened', 'whatHappenedPage.summary', { hint: 'whatHappenedPage.hint' }) }}
            {{ formButtons('whatHappenedPage.nextButton') }}
        </form>
    </div>

{% endblock %}