{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('confirmationPage.title') }}</h1>

    <div>

        <h2>
            <a class="button-link transparent" href="timeframe">{{ __('confirmationPage.timeFrameTitle') }}</a>
        </h2>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ textInput('form.firstname', 'form.firstname.desc') }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}