{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('confirmationPage.title') }}</h1>

    <div>

        <h2>
            <a class="button-link transparent" href="timeframe">{{ __('confirmationPage.timeFrameTitle') }}</a>
        </h2>
        {% if data.timeFramePage_startDate or data.timeFramePage_endDate %}
            <div>
                <div>{{ data.timeFramePage_startDate }}</div>
                <div>{{ data.timeFramePage_endDate }}</div>
            </div>
        {% else %}
            <div>{{ __('confirmationPage.timeFrameIntro')}}</div>
        {% endif %}

        <h2>
            <a class="button-link transparent" href="whatHappened">{{ __('confirmationPage.scamTitle') }}</a>
        </h2>
        {% if data.whatHappenedPage_whatHappened %}
            <div>
                <div>{{ data.whatHappenedPage_whatHappened }}</div>
            </div>
        {% else %}
            <div>{{ __('confirmationPage.scamIntro')}}</div>
        {% endif %}

        <h2>
            <a class="button-link transparent" href="scammerDetails">{{ __('confirmationPage.suspectTitle') }}</a>
        </h2>
        {% if data.scammerDetailsPage_scammerDetails %}
            <div>
                <div>{{ data.scammerDetailsPage_scammerDetails }}</div>
            </div>
        {% else %}
            <div>{{ __('confirmationPage.suspectIntro')}}</div>
        {% endif %}

        <h2>
            <a class="button-link transparent" href="impact">{{ __('confirmationPage.impactTitle') }}</a>
        </h2>

        {% if data.impactPage_damage or (data.impactPage_detail and data.impactPage_detail.length > 0) %}
            <div>
                <div>
                    {% for impact in data.impactPage_detail %}
                        {{ __(impact)}},
                    {% endfor %}
                </div>
                <div>{{ data.impactPage_damage }}</div>
            </div>
        {% else %}
            <div>{{ __('confirmationPage.impactIntro')}}</div>
        {% endif %}

        <h2>
            <a class="button-link transparent" href="contactInfo">{{ __('confirmationPage.contactTitle') }}</a>
        </h2>
        {% if data.contactInfoPage_fullName or data.contactInfoPage_emailAddress or data.contactInfoPage_postalCode %}
            <div>
                <div>{{ data.contactInfoPage_fullName }}</div>
                <div>{{ data.contactInfoPage_emailAddress }}</div>
                <div>{{ data.contactInfoPage_postalCode }}</div>
            </div>
        {% else %}
            <div>{{ __('confirmationPage.contactIntro')}}</div>
        {% endif %}

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ formButtons('button.submit') }}
        </form>
    </div>

{% endblock %}